################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FashionBoutik/v15/Server/sqlite3
/.vs/FashionBoutik/v15/.suo
*.cache
/FashionBoutik.Core/bin/Debug/netcoreapp2.0
/FashionBoutik.Core/obj/Debug/netcoreapp2.0
/FashionBoutik.Entities/bin/Debug/netcoreapp2.0
