@model FashionBoutik.Models.AddressModel


<fieldset>
     <label>Address</label>
    <div class="form-group">
        <label asp-for="Street" class="col-md-3 control-label"></label>

        <input asp-for="Street" />
    </div>
    <div class="form-group">
        <label asp-for="City" class="col-md-3 control-label"></label>
        <input asp-for="City" />
    </div>
    <div class="form-group">
        <label asp-for="State" class="col-md-3 control-label"></label>

        <input asp-for="State" />
    </div>
    <div class="form-group">
        <label asp-for="Country" class="col-md-3 control-label"></label>
        <input asp-for="Country" />
    </div>
    <div class="form-group">
        <label asp-for="ZipCode" class="col-md-3 control-label"></label>
        <input asp-for="ZipCode" />
    </div>
</fieldset>


