@model OrderAddressModel

@using FashionBoutik.Models

@{
    Layout = "_CheckoutLayout";
}

<h2 class="text-center mt-1">Step 1: Your Details</h2>

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" required value="Order from @DateTime.Now for 'Your Name'" />
    </div>
    <div class="form-group">
        @*@Html.Partial("AddressView", Model.ShippingAddress)*@
        @*<input asp-for="ShippingAddress" class="form-control" required />*@

        <fieldset>
            <label>Shipping address : </label>
            <div class="form-group">
                <label asp-for="ShippingAddress.Country" class="col-md-3 control-label"></label>
                <input asp-for="ShippingAddress.Country" />
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress.City" class="col-md-3 control-label"></label>
                <input asp-for="ShippingAddress.City" />
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress.State" class="col-md-3 control-label"></label>

                <input asp-for="ShippingAddress.State" />
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress.ZipCode" class="col-md-3 control-label"></label>
                <input asp-for="ShippingAddress.ZipCode" maxlength="5" />
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress.Street" class="col-md-3 control-label"></label>

                <input asp-for="ShippingAddress.Street" />
            </div>
        </fieldset>

    </div>
    <div class="btn-group btn-group-lg">
        <a class="btn btn-link" onclick="history.go(-1);">Back</a>
        <button class="btn btn-danger" type="submit">
            Next
        </button>
    </div>
</form>
