@model OrderModel
@using FashionBoutik.Models
@{
    Layout = "_CheckoutLayout";
}

<h2 class="text-center">Order Confirmation</h2>

<form method="post" asp-area="Admin" asp-controller="Order" asp-action="OrderConfirmation" class="form-inline">
    <div class="container">
        <div class="text-center">
            @Html.Partial("CheckoutSummary", @Model)
        </div>

        @*<div class="alert-success">
            @await Html.PartialAsync("GiftCards", @Model)
        </div>

        <div class="alert-info">
            @await Html.PartialAsync("CalculateDiscounts", @Model)
        </div>*@

        @*<div class="progress-bar-info" />*@

        <div class="btn-group btn-group-lg">
            <a class="btn btn-link" onclick="history.go(-1);">Back</a>
            <a asp-area="Admin" asp-controller="Order" asp-action="CheckoutCancel" class="btn btn-danger">Cancel</a>
            <a asp-area="Admin" asp-controller="Order" asp-action="CheckoutContinueShopping" class="btn btn-info">Continue Shopping</a>
            <button type="submit" class="btn btn-success">Done</button>
        </div>
    </div>
</form>