@model OrderPaymentModel
@using FashionBoutik.Models
@{
    Layout = "_CheckoutLayout";
}

<h2 class="text-center mt-1">Step 2: Payment</h2>

<form asp-antiforgery="true" method="POST" asp-area="Admin" asp-controller="Order" asp-action="СheckoutPayment" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3">Card Number</label>
        <input asp-for="CardNumber" type="number" required  maxlength="20"  />
        @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="col-md-3">Card Expiry</label>
        <input asp-for="CardExpiry" type="date" required data-date-inline-picker="true" />
        @Html.ValidationMessageFor(m => m.CardExpiry, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label class="col-md-3">Security Code</label>
        <input asp-for="CardSecurityCode" required maxlength="4"  />
        @Html.ValidationMessageFor(m => m.CardSecurityCode, "", new { @class = "text-danger" })
    </div>
    <div class="btn-group btn-group-lg">
        <a class="btn btn-link" onclick="history.go(-1);">Back</a>
        <button type="submit" class="btn btn-danger">
            Next
        </button>
    </div>
</form>
