<!--<div class="navbar bg-inverse ">
  <a class="navbar-brand text-white"> STORE</a>
</div>-->
@model CartModel
@using FashionBoutik.Models
@{
    Layout = "_CheckoutLayout";
}

<h2 class="text-center mt-1">Step 2: Payment</h2>

<form novalidate #paymentForm="ngForm"
      method="POST"
      asp-area="Admin" asp-controller="Order" asp-action="СheckoutPayment">
    <div class="form-group">
        <label>Card Number</label>
        <input #cardNumber="ngModel" name="cardNumber" class="form-control"
               [(ngModel)]="order.payment.cardNumber" required />
        <div *ngIf="cardNumber.invalid" class="text-danger">
            Please enter your card number
        </div>
    </div>
    <div class="form-group">
        <label>Card Expiry</label>
        <input #cardExpiry="ngModel" name="cardExpiry" class="form-control"
               [(ngModel)]="order.payment.cardExpiry" required />
        <div *ngIf="cardExpiry.invalid" class="text-danger">
            Please enter your card expiry
        </div>
    </div>
    <div class="form-group">
        <label>Security Code</label>
        <input #cardCode="ngModel" name="cardCode" class="form-control"
               [(ngModel)]="order.payment.cardSecurityCode" required />
        <div *ngIf="cardCode.invalid" class="text-danger">
            Please enter your security code
        </div>
    </div>
    <div class="text-center btn-group btn-group-sm">
        <a onclick="history.go(-1);" class="btn-link">Back</a>
        <button type="submit" class="btn btn-danger" [disabled]="paymentForm.invalid">
            Next
        </button>
    </div>
</form>
