@model EditUserViewModel

@using FashionBoutik.Models
@using FashionBoutik.Entities
@using Microsoft.AspNetCore.Identity

@inject RoleManager<Role> RoleManager
@{
    var allRoles = Model.ApplicationRoles ?? RoleManager.Roles.ToList();
    var allUsersGroups = Model.UsersGroups;// ?? todo;
}

@using (Html.BeginForm("Edit", "User", new { area = "Admin", controller = "User" }, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
{
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Edit User" })
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="modal-body form-horizontal">
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label asp-for="Name" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ApplicationRoleId" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-6">
                    <select class="form-control" data-val="true" data-val-required="The Role is required (*)"
                            asp-for="ApplicationRoleId" asp-items="@(new SelectList(allRoles,"Id","Name"))"></select>
                    <span asp-validation-for="ApplicationRoleId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="UsersGroupId" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-6">
                    @if (allUsersGroups != null)
                    {
                        <select class="form-control" required data-val="true" data-val-required="The UsersGroup is required (*)"
                                asp-for="UsersGroupId" asp-items="@(new SelectList(allUsersGroups,"Id","Name"))">
                            <option>Please select</option>
                        </select>
                        <span asp-validation-for="UsersGroupId" class="field-validation-error  text-danger"></span>
                    }
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "Save" })
}














