@model EditUserViewModel

@using FashionBoutik.Models
@using FashionBoutik.Entities
@using FashionBoutik.Core.Mappers
@using Microsoft.AspNetCore.Identity

@inject RoleManager<Role> RoleManager
@{
    var allRoles = Model.AllAppRoles ?? RoleManager.Roles.MapTo<RoleViewModel>();
    var allUsersGroups = Model.AllUsersGroups ?? new List<UsersGroupModel>();
}

@using (Html.BeginForm("Edit", "User", new { area = "Admin", controller = "User" }, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
{
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Edit User" })
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <input asp-for="Id" type="hidden" />
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <label asp-for="Name" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-6">
                    <input required asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-6">
                    <input required asp-for="Email" type="email" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ApplicationRoleId" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-6">
                    <select class="form-control" data-val="true" data-val-required="The Role is required (*)"
                            asp-for="ApplicationRoleId" asp-items="@(new SelectList(allRoles,"Id","Name"))"></select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="UsersGroupsIds" class="col-md-3 col-sm-3 control-label">Users Group</label>
                <div class="col-md-6">
                    @if (allUsersGroups != null)
                    {
                        @*<select name="multicheckbox[]" multiple="multiple" class="4colactive form-control">*@

                        <select class="form-control show-tick multi-select"
                                multiple="multiple" required data-val="true" data-val-required="The UsersGroup is required (*)"
                                asp-for="UsersGroupsIds" asp-items="@(new SelectList(allUsersGroups,"Id","Name"))">
                            @*<option>Please select</option>*@
                        </select>
                    }
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "Save" })
}













