
@{
    ViewBag.Title = "Contacts";
}

<div class="hexagon_container" >
    <div class="content_team team">

        <div class="hexagon hexagon2 team-item">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:url(../css/images/team/1.jpg);">
                    <div class="overlay" style="display: block;">
                        <h2>Lana</h2>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="hexagon hexagon2 team-item">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:url(../css/images/team/2.jpg);">
                    <div class="overlay animated fadeIn" style="display: block;">
                        <h2>Anna</h2>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="hexagon hexagon2 team-item">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:url(../css/images/team/3.jpg);">
                    <div class="overlay animated fadeIn" style="display: block;">
                        <h2>Linda</h2>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="hexagon hexagon2 team-item">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:url(../css/images/team/4.jpg);">
                    <div class="overlay animated fadeIn" style="display: block;">
                        <h2>Diana</h2>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="hexagon hexagon2 team-item">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:url(../css/images/team/5.jpg);">
                    <div class="overlay animated fadeIn" style="display: block;">
                        <h2>Lida</h2>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery.lightbox.js"></script>
<script src="~/Scripts/templatemo_custom.js"></script>