@{
    ViewBag.Title = "Season style";

    List<string> images = new List<string>();
    String path = Server.MapPath("~/css/images/season");
    if (Directory.Exists(path))
    {
        var files = Directory.GetFiles(path);
        foreach (var file in files)
        {
            var fileName = Path.GetFileName(file);
            images.Add("/css/images/season/" + fileName);
        }
    }
}

@section Styles
{
    <!-- Nivo slider-->
    <link href="~/css/nivo-slider.css" rel="stylesheet" />
    <link href="~/css/orman.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.nivo.slider.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            //Call nivoSlider for each section
            $('.nivoSlider').each(function (i, sl) {
                $(sl).nivoSlider({
                    controlNavThumbs: true,
                    controlNavThumbsFromRel: true,
                    directionNav: false, // Next and Prev
                    keyboardNav: true, // Use left and right arrows
                    pauseOnHover: true // Stop animation while hovering
                });
            });
        });
    </script>
}

<div class="theme-orman img-responsive">
    <div id="slider" class="nivoSlider">
        @foreach (var i in images)
        {
            <img src="@i" alt="season" rel="@i" />
        }
    </div>
    <div class="carousel-caption" role="option"> </div>
</div>