@model FashionBoutik.Models.BootstrapModel

<link href="~/lib/multi-select/css/jquery.multiselect.css" rel="stylesheet" />

<div id="@Model.ID" class="modal fade" aria-hidden="true" aria-labelledby="@Model.AreaLabeledId" role="dialog" tabindex="-1">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content">
        </div>
    </div>
</div>